
.body{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

.mainStream{
    flex-basis: 90%;
}

.richText{
    flex-basis: 10%;
    display: flex;
    width: 100%;
}