
.body{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

.mainStream{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerItems{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: .5rem;
    background: var(--discord-color);
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.richText{
    flex-basis: 10%;
    display: flex;
    width: 100%;
}

.table{
    width: 50%;
}

.table th{
    text-align: left;
}

.seed{
    text-align: left;
}

